.container {
  max-width: 1160px;
  margin: 0 auto;
  // padding-right: 103px;
  // padding-left: 103px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
