.contacts {
  display: flex;
  justify-content: flex-start;

  width: 50%;
  background-color: $white;

  border-top: 1px solid $light-gray;

  @media (max-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 41px;
    width: 100%;
    border: none;
  }
}

.contacts__wrapper {
  display: flex;
  padding-top: 65px;
  width: 683px;

  justify-content: center;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    padding-right: 45px;
    padding-left: 45px;

    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;

    width: 100%;
  }
}

.contacts h2 {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  width: 100%;

  font-family: "Bebas-Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  color: $dark-blue;
  text-transform: lowercase;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    margin-bottom: 36px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 38px;
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__information {
  padding-right: 39px;
  width: 443px;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-left: 13%;
    padding-right: 17%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.contacts__list {
  position: relative;
  display: flex;
  padding-left: 4px;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;

    left: 57.8%;
    top: 5px;

    width: 1px;
    height: 102px;

    background-color: #74819c;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 20px;

    &::before {

      left: 56%;
      top: 8px;

      height: 129px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;

    &::before {
      content: none;
    }
  }
}

.contacts__list li {
  margin-bottom: 17px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__list h3 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: $dark-blue;

  @media (max-width: $tablet-width) {
    margin-bottom: 6px;

    font-size: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.contacts__list ul {
  display: flex;
  margin: 0;
  padding: 0;

  width: 50%;

  flex-direction: column;
  list-style: none;

  &:last-of-type {
    padding-left: 22.9%;

    @media (max-width: $tablet-width) {
      padding-left: 19%;
    }

    @media (max-width: $mobile-width) {
      padding-left: 0;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

// .contacts__list ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;

//   &:first-of-type {
//     margin-right: 120px;

//     @media (max-width: $tablet-width) {
//       margin-right: 21%;
//     }
//   }
// }

.contacts__list p,
.contacts__list a {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: $dark-blue;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 152.34%;
  }
}
