.form {
  display: flex;
  padding-bottom: 69px;
  justify-content: flex-end;
  width: 50%;
  background-color: $dark-blue;

  @media (max-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 68px;
    width: 100%;
  }
}

.form__wrapper {
  padding-top: 57px;
  display: flex;
  justify-content: center;
  width: 683px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    padding-right: 45px;
    padding-left: 45px;

    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
}

.form form {
  display: flex;
  padding-right: 65px;
  width: 477px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-right: 17%;
    padding-left: 13%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.form h2 {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  width: 380px;

  font-family: "Bebas-Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  color: $white;
  text-transform: lowercase;
  letter-spacing: 0.035em;

  @media (max-width: $tablet-width) {
    width: 100%;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 39px;

    font-size: 32px;
    line-height: 32px;
  }
}

.form label {
  width: 46.5%;

  font-size: 0;

  @media (max-width: $tablet-width) {
    width: 43.9%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form input,
.form input::placeholder {
  font-family: "RobotoCondesed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  font-weight: 400;
  font-style: normal;
}

.form input {
  margin-bottom: 27px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 100%;

  background-color: $dark-blue;
  border: none;
  border-bottom: 1px solid $light-gray;
  border-radius: 0;
  color: $white;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 32px;

    &:hover,
    &:focus {
      opacity: 0.7;
      outline: none;
    }
  }
}

.form input::-ms-clear {
  display: none;
}

.form__button {
  width: 100%;

  @media (max-width: $mobile-width) {
    padding-top: 6px;
  }
}

.form__button button {
  display: inline-block;
  padding-top: 19px;
  padding-right: 53px;
  padding-bottom: 15px;
  padding-left: 55px;

  width: 100%;
  vertical-align: middle;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;

  letter-spacing: 0.05em;

  background-color: transparent;
  border: 3px solid #ffffff;

  cursor: pointer;
  z-index: 1;
  opacity: 1;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 82px;
    padding-left: 82px;
    width: 100%;
  }
}
