.gym {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $white;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 23px;
    padding-bottom: 70px;
  }
}

.gym__wrapper {
  position: relative;
  display: flex;
  padding-bottom: 110px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding-right: 0;
    padding-bottom: 81px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.gym__descriptions {
  padding-top: 44px;
  padding-left: 60px;
  width: 415px;

  @media (max-width: $tablet-width) {
    margin-bottom: 36px;
    padding-left: 0;
    width: 70%;

    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    text-align: left;
  }
}

.gym__descriptions h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Bebas-Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;

  letter-spacing: 0.035em;

  color: $dark-blue;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.gym__descriptions span {
  display: block;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 150%;
  font-weight: 400;

  color: $dark-blue;

  @media (max-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }
}

.gym__descriptions p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-size: 16px;
  line-height: 150%;
  font-weight: 300;

  color: $dark-blue;

  @media (max-width: $tablet-width) {
    display: none;

    &:first-of-type {
      display: block;
    }
  }

  @media (max-width: $mobile-width) {
    width: 90%;
  }
}

@media (max-width: $tablet-width) {
  .gym__image {
    width: 88.5%;
    height: 345px;

    background-image: url("../img/gym-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gym-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }

  .gym__image-desktop {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .gym__image {
    margin-bottom: 40px;
    width: 100%;
    height: 313px;

    background-image: url("../img/gym-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gym-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
}

.gym__video {
  position: absolute;

  margin-left: -143px;
  width: 364px;
  height: 228px;


  left: 50%;
  bottom: 0;

  background-image: url("../img/video-preview-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-preview-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
  }

  @media (max-width: $tablet-width) {
    margin-left: -133px;
    width: 266px;
    height: 167px;

    top: auto;
    bottom: 0;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    margin: 0;
    width: 100%;
    height: 167px;

    top: 0;
    left: 0;
    bottom: auto;

    background-image: url("../img/video-preview-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-preview-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
}

.gym__video-button button {
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;

  width: 100px;
  height: 100px;

  top: 50%;
  left: 50%;

  font-size: 0;
  line-height: 0;

  border: none;

  cursor: pointer;
  background: transparent;
  background-image: url("../img/play-video.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/play-video@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-left: -36.5px;
    margin-top: -36.5px;

    width: 73px;
    height: 73px;

    padding-right: 30px;
    padding-left: 30px;

    background-size: 73px 73px;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
