.stock {
  display: flex;
  padding-top: 114px;
  padding-bottom: 50px;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding-top: 95px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 69px;
    padding-bottom: 0;
  }
}

.stock h2 {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  font-family: "Bebas-Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.035em;

  color: $dark-blue;

  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-bottom: 44px;
    // width: 120px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.stock__warapper {
  display: flex;

  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}

.stock__banner {
  display: flex;
  width: 560px;

  background-color: #ed0233;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;

    &-wrapper {
      width: 100%;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.stock__banner-information {
  position: relative;
  display: flex;
  padding-top: 33px;
  padding-right: 45px;
  padding-bottom: 52px;
  padding-left: 45px;
  width: 50%;

  flex-direction: column;

  @media (max-width: $tablet-width) {
    padding-bottom: 53px;
    width: 41.1%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    text-align: center;
  }
}


.stock__banner-information h3 {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 28px;
  line-height: 156%;

  color: $white;
}

.stock__banner-information b {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: 700;
  font-size: 70px;
  line-height: 88%;

  color: $white;

  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    // margin-bottom: 0;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.stock__banner-information p {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;


  // flex: 1 0 auto;
  font-size: 18px;
  line-height: 140%;

  color: $white;

  @media (max-width: $tablet-width) {
    // margin-bottom: 0;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 39px;
  }
}

.stock__banner-information a {
  position: absolute;
  margin: 0;
  padding: 0;
  // flex: 0 0 auto;

  bottom: 52px;
  left: 46px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16%;

  color: $white;

  text-transform: uppercase;
  letter-spacing: 0.05em;

  &::after {
    content: "";
    position: absolute;

    bottom: -7px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $white;
  }

  @media (max-width: $tablet-width) {
    // margin-bottom: 0;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.stock__banner-image {
  width: 280px;

  @media (max-width: $tablet-width) {
    width: 399px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.stock__banner-image img {
  display: block;
}

.stock__items {
  display: flex;
  width: 48.3%;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.stock__item {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  padding-top: 22px;
  padding-right: 36px;
  padding-left: 36px;

  flex-direction: column;
  background-image: linear-gradient(135deg, #ed0233 20%, #003eb7 90%);

  z-index: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: 7px solid transparent;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    left: 7px;
    top: 7px;
    background-color: $white;

    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    width: 48%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
    padding-top: 34px;
    width: 100%;

    text-align: center;
  }
}

// .stock__item-content {
//   display: flex;
//   padding-top: 22px;
//   padding-right: 36px;
//   padding-left: 36px;
//   flex-direction: column;
// }

.stock__item h3 {
  margin: 0;
  // margin-bottom: 14px;
  padding: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 44px;

  color: #1c3374;

  @media (max-width: $tablet-width) {
    // margin-bottom: 0;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  // @media (max-width: $mobile-width) {
  //   padding-top: 68px;
  // }
}

.stock__item p {
  margin: 0;
  margin-bottom: 123px;
  padding: 0;

  flex: 1 0 auto;
  font-size: 16px;
  line-height: 140%;

  color: #1c3374;

  @media (max-width: $tablet-width) {
    margin-bottom: 101px;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    line-height: 144%;
    margin-bottom: 89px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.stock__item a {
  position: absolute;
  margin: 0;
  // margin-bottom: 29px;
  padding: 0;

  bottom: 37px;
  left: 36px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: #1c3374;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  // text-decoration: underline;

  &::after {
    content: "";
    position: absolute;

    bottom: -2px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #1c3374;
  }

  @media (max-width: $tablet-width) {
    // margin-bottom: 0;
    // width: 120px;
    // font-size: 52px;
    // line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 48px;
  }
}
