@font-face {
  font-family: "RobotoCondesed";
  src: url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondesed";
  src: url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondesed";
  src: url("../fonts/Robotocondensedbold.woff2") format("woff2"), url("../fonts/Robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas-Neue";
  src: url("../fonts/bebasneueregular.woff2") format("woff2"), url("../fonts/bebasneueregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebasneuebold.woff2") format("woff2"), url("../fonts/bebasneuebold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  // outline: 0.5px solid red;
  box-sizing: border-box;
}

body {
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  // background-image: url("../img/Desktop.jpg");

  // @media (max-width: 1199px) {
  //   background-image: url("../img/Tablet.jpg");
  // }


  // @media (max-width: 767px) {
  //   background-image: url("../img/Phone.jpg");
  // }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: $white;
  font-weight: 400;
  font-style: normal;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  opacity: 1;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
