$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts-colors
$white: #ffffff;
$dark-blue: #102654;
$light-blue: #495a7d;

//gradient
$background-gradient: radial-gradient(33.97% 69.22% at 16.03% 39.06%, #003d85 99.48%, #b80027 99.03%);
$button-gradient: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
