$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$white: #ffffff;
$dark-blue: #102654;
$light-blue: #495a7d;
$light-gray: #74819c;
$gray: #f8f9fc;

//gradient
$button-gradient: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
